body {
    display: flex;
    justify-content: center; /* Горизонтальне вирівнювання */
    align-items: center;    /* Вертикальне вирівнювання, якщо потрібно */
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: #6e6060;
  }
  

  